[submodule "sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "fruitchip-fw-apps/ps2bbl"]
	path = fruitchip-fw-apps/ps2bbl
	url = https://github.com/israpps/PlayStation2-Basic-BootLoader.git
